$carousel-arrow-color: #0f7c90;
$carousel-arrow-hover-color: #094c59;
.slick {
  position: relative;
}

.slick-arrow-prev,
.slick-arrow-next {
  span {
    position: absolute;
    top: 50%;
    background-color: white;
    font-size: 30px;
    color: $carousel-arrow-color;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07);
    &:hover {
      color: $carousel-arrow-hover-color;
    }
  }
}
.slick-arrow-prev {
  span {
    left: -15px;
  }
}
.slick-arrow-next {
  span {
    right: -15px;
  }
}

.carousel {
  .overlay-holder {
    position: relative;
    .dark-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000;
      opacity: 0;
      transition: opacity ease-out 0.3s;
    }
    &:hover .dark-overlay {
      opacity: 0.2;
    }
  }
}
